[submodule "docs-external/claude-code-docs"]
	path = docs-external/claude-code-docs
	url = https://github.com/ericbuess/claude-code-docs.git
[submodule "docs-external/dspy"]
	path = docs-external/dspy
	url = https://github.com/stanfordnlp/dspy.git
[submodule "docs-external/aerospace"]
	path = docs-external/aerospace
	url = https://github.com/nikitabobko/AeroSpace.git
