<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dotfiles.docs-external-update</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/U003877/.oh-my-zsh/custom/bin/system/docs-external-update</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
        <key>HOME</key>
        <string>/Users/U003877</string>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/U003877/Library/Logs/dotfiles-docs-update.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/U003877/Library/Logs/dotfiles-docs-update-error.log</string>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>